<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>Title</title>
</head>
<body>

<ul>
    <li><a href="/">Pocetna</a></li>
    <li><a href="/portfolio">Portfolij</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
    <li><a href="/lekcije">Lekcije</a></li>
    <li><a href="/lorem">Lorem</a></li>
    <li><a href="/training">Training</a></li>
</ul>

<h3>A lesson or class is a structured period of time where learning is intended to occur. It involves one or more students being taught by a teacher or instructor.</h3>

</body>
</html>