<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Portfolij</title>

</head>
<body>

<ul>
    <li><a href="/">Pocetna</a></li>
    <li><a href="/portfolio">Portfolij</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
    <li><a href="/lekcije">Lekcije</a></li>
    <li><a href="/lorem">Lorem</a></li>
    <li><a href="/training">Training</a></li>
</ul>

<h2>Moji radovi:</h2>

<a href="/static/portfolio/aduino/index.html">Aduino</a>
<a href="/static/portfolio/boogle/main.html">Boogle</a>
<a href="/static/portfolio/fakebook/Fakebook_02_css.html">Fakebook</a>

</body>
</html>