<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>Title</title>
</head>
<body>

<ul>
    <li><a href="/">Pocetna</a></li>
    <li><a href="/portfolio">Portfolij</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
    <li><a href="/lekcije">Lekcije</a></li>
    <li><a href="/lorem">Lorem</a></li>
    <li><a href="/training">Training</a></li>
</ul>

<h1>Training is teaching, or developing in oneself or others, any skills and knowledge or fitness that relate to specific useful competencies.</h1>

</body>
</html>